button {
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  outline: 0.1rem solid #000000;
  background: #c0c0c0;
  color: #000000;
  border: 1px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  cursor: pointer;
}

.footer-btn {
  padding: 0rem;
  margin-top: 0.1rem;
}

.small-icon-btn {
  padding: 0rem;
  width: 0.9rem;
  margin: 0.1rem 0.1rem;
  margin-left: 0;
  font-size: 12px;
  font-weight: 700;
  height: 0.75rem;
}

button:active {
  outline: none;
}

.small-icon-btn:active {
  border: none;
}

.taskbar-btn,
.focused-btn {
  width: 5rem;
  margin-left: 0.3rem;
  height: 90%;
  transform: translateY(-0.2rem);
}

.focused-btn {
  width: 5rem;
  border: none;
}
