@font-face {
  font-family: "w95";
  src: url("./assets/fonts/w95fa.woff") format("woff");
}

body {
  display: block;
  min-width: inherit;
  --font-main: "w95", sans-serif;
  background-color: #008080;
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  outline: 0 none;
  font-family: var(--font-main);
}

ul {
  list-style: none inside;
}

a {
  text-decoration: none;
  color: inherit;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
}

body *::-webkit-scrollbar {
  width: 16px;
}

body *::-webkit-scrollbar-thumb {
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

body *::-webkit-scrollbar-track {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-size: 2px;
}
